[submodule "external/openssl-cmake"]
	path = external/openssl-cmake
	url = ../../viaduck/openssl-cmake.git
[submodule "external/cmake-modules"]
	path = external/cmake-modules
	url = ../../viaduck/cmake-modules.git
