image: viaduck/ci

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  ANDROID_PLATFORM: "android-26"
  ANDROID_NDK: "/android/ndk"

stages:
    - build
    - test
    - coverage
    - documentation

build:linux:x86_64:full:
    stage: build
    script:
        - mkdir build
        - cd build
        - cmake -GNinja ../ -DPREBUILT_BRANCH=x86_64-linux -DGTEST_SRC_DIR=/usr/src/googletest/
        - ninja
    artifacts:
        expire_in: 2h                   # do not pollute disk
        paths:
        - build/

test:linux:x86_64:full:
    stage: test
    script:
        - cd build
        - test/Commons_Test             # runs gtest target
    dependencies:
    - build:linux:x86_64:full

build:linux:x86_64:full:system-openssl:
    stage: build
    script:
        - mkdir build
        - cd build
        - cmake -GNinja ../ -DSYSTEM_OPENSSL=ON -DGTEST_SRC_DIR=/usr/src/googletest/
        - ninja
    artifacts:
        expire_in: 2h                   # do not pollute disk
        paths:
        - build/

test:linux:x86_64:full:system-openssl:
    stage: test
    script:
        - cd build
        - test/Commons_Test             # runs gtest target
    dependencies:
    - build:linux:x86_64:full:system-openssl

build:linux:x86_64:base-only:
    stage: build
    script:
        - mkdir build
        - cd build
        - cmake -GNinja ../ -DCOMMONS_BASE_ONLY=ON -DGTEST_SRC_DIR=/usr/src/googletest/
        - ninja
    artifacts:
        expire_in: 2h                   # do not pollute disk
        paths:
        - build/

test:linux:x86_64:base-only:
    variables:
          GIT_STRATEGY: none
    stage: test
    script:
        - cd build
        - test/Commons_Test             # runs gtest target
    dependencies:
    - build:linux:x86_64:base-only

coverage:linux:x86_64:
    stage: coverage
    script:
        - cd build
        - cmake . -DCMAKE_BUILD_TYPE=Debug
        - ninja Commons_Coverage        # generate code coverage
    artifacts:
        paths:
        - build/test/coverage/         # coverage data
    dependencies:
    - build:linux:x86_64:full

documentation:linux:x86_64:
    stage: documentation
    script:
        - cd build
        - ninja Commons_doc             # generate doxygen code documentation
    artifacts:
        paths:
        - build/doc/html/                # doxygen documentation
    dependencies:
    - build:linux:x86_64:full

build:windows:x86_64:full:
    image: viaduck/ci:mingw
    stage: build
    script:
        - update-alternatives --set x86_64-w64-mingw32-g++ /usr/bin/x86_64-w64-mingw32-g++-posix        # fix c++11 threading support on debian
        - update-alternatives --set x86_64-w64-mingw32-gcc /usr/bin/x86_64-w64-mingw32-gcc-posix
        - mkdir build-windows-x86_64
        - cd build-windows-x86_64
        - cmake -GNinja -DCMAKE_TOOLCHAIN_FILE=../external/securememory/cmake-modules/toolchains/debian-jessie-mingw64-x86_64.cmake -DPREBUILT_BRANCH=x86_64-w64-mingw32 -DGTEST_SRC_DIR=/usr/src/googletest/ ../
        - ninja
        - peldd test/Commons_Test.exe | grep -vE '\.exe$' | xargs cp -t .
    artifacts:
        expire_in: 2h                   # do not pollute disk
        paths:
        - build-windows-x86_64/

build:windows:x86_64:base-only:
    image: viaduck/ci:mingw
    stage: build
    script:
        - update-alternatives --set x86_64-w64-mingw32-g++ /usr/bin/x86_64-w64-mingw32-g++-posix        # fix c++11 threading support on debian
        - update-alternatives --set x86_64-w64-mingw32-gcc /usr/bin/x86_64-w64-mingw32-gcc-posix
        - mkdir build-windows-x86_64
        - cd build-windows-x86_64
        - cmake -GNinja -DCMAKE_TOOLCHAIN_FILE=../external/securememory/cmake-modules/toolchains/debian-jessie-mingw64-x86_64.cmake -DCOMMONS_BASE_ONLY=ON -DGTEST_SRC_DIR=/usr/src/googletest/ ../
        - ninja

test:windows:x86_64:full:
    variables:
      GIT_STRATEGY: none
    stage: test
    script:
        - cd build-windows-x86_64
        - test\Commons_Test.exe             # runs gtest target
    dependencies:
    - build:windows:x86_64:full
    tags:
    - windows

build:android:arm64-v8a:full:
    image: viaduck/ci:android
    stage: build
    script:
        - mkdir build-android-arm64-v8a
        - cd build-android-arm64-v8a
        - cmake -GNinja -DANDROID_PLATFORM=$ANDROID_PLATFORM -DANDROID_ABI=arm64-v8a -DANDROID_TOOLCHAIN=clang -DANDROID_NDK=$ANDROID_NDK -DCMAKE_TOOLCHAIN_FILE=$ANDROID_NDK/build/cmake/android.toolchain.cmake -DANDROID_STL=c++_static -DPREBUILT_BRANCH=arm64-v8a-android -DGTEST_SRC_DIR=/usr/src/googletest/ ../
        - ninja
    artifacts:
        expire_in: 2h                   # do not pollute disk
        paths:
        - build-android-arm64-v8a/

build:android:armeabi-v7a:full:
    image: viaduck/ci:android
    stage: build
    script:
        - mkdir build-android-armeabi-v7a
        - cd build-android-armeabi-v7a
        - cmake -GNinja -DANDROID_PLATFORM=$ANDROID_PLATFORM -DANDROID_ABI=armeabi-v7a -DANDROID_TOOLCHAIN=clang -DANDROID_NDK=$ANDROID_NDK -DCMAKE_TOOLCHAIN_FILE=$ANDROID_NDK/build/cmake/android.toolchain.cmake -DANDROID_STL=c++_static -DPREBUILT_BRANCH=armeabi-v7a-android -DGTEST_SRC_DIR=/usr/src/googletest/ ../
        - ninja
    artifacts:
        expire_in: 2h                   # do not pollute disk
        paths:
        - build-android-armeabi-v7a/

build:android:x86:full:
    image: viaduck/ci:android
    stage: build
    script:
        - mkdir build-android-x86
        - cd build-android-x86
        - cmake -GNinja -DANDROID_PLATFORM=$ANDROID_PLATFORM -DANDROID_ABI=x86 -DANDROID_TOOLCHAIN=clang -DANDROID_NDK=$ANDROID_NDK -DCMAKE_TOOLCHAIN_FILE=$ANDROID_NDK/build/cmake/android.toolchain.cmake -DANDROID_STL=c++_static -DPREBUILT_BRANCH=x86-android -DGTEST_SRC_DIR=/usr/src/googletest/ ../
        - ninja
    artifacts:
        expire_in: 2h                   # do not pollute disk
        paths:
        - build-android-x86/

build:android:x86_64:full:
    image: viaduck/ci:android
    stage: build
    script:
        - mkdir build-android-x86_64
        - cd build-android-x86_64
        - cmake -GNinja -DANDROID_PLATFORM=$ANDROID_PLATFORM -DANDROID_ABI=x86_64 -DANDROID_TOOLCHAIN=clang -DANDROID_NDK=$ANDROID_NDK -DCMAKE_TOOLCHAIN_FILE=$ANDROID_NDK/build/cmake/android.toolchain.cmake -DANDROID_STL=c++_static -DPREBUILT_BRANCH=x86_64-android -DGTEST_SRC_DIR=/usr/src/googletest/ ../
        - ninja
    artifacts:
        expire_in: 2h                   # do not pollute disk
        paths:
        - build-android-x86_64/
